.u-section-1 .u-sheet-1 {
  min-height: 594px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  margin: 91px 104px 0 676px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 364px;
  margin: -72px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 38px;
    margin-right: 4px;
    margin-left: 576px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 300px;
    margin-top: -19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -32px;
    margin-right: 0;
    margin-left: 360px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 230px;
    margin-top: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -89px;
    margin-left: 180px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 173px;
    margin-top: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -153px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 109px;
    margin-top: 136px;
  }
}